<!-- page content -->
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Affiliations</h3>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Table design <small>Custom design</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                            <thead>
                            <tr class="headings">
                                <th class="column-title" style="display: table-cell;">Team</th>
                                <th class="column-title" style="display: table-cell;">Person</th>
                                <th class="column-title" style="display: table-cell;">Affiliation Type</th>
                                <th class="column-title no-link last" style="display: table-cell;"></th>
                                <th class="column-title no-link last" style="display: table-cell;"></th>
                            </tr>
                            </thead>

                            <tbody ng-repeat="affiliation in affiliations">
                            <tr class="even pointer">
                                <td class=" ">{{affiliation.team.name}}</td>
                                <td class=" ">{{affiliation.person.firstName + " " + affiliation.person.lastName}} </td>
                                <td class=" ">{{affiliation.affiliation}} </td>
                                <td class=" last"><a ng-href="#/affiliation/{{affiliation.id}}">Edit</a></td>
                                <td class=" last" ng-click="delete(affiliation);">Delete</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->